*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary-color: #FB2E86;
    --main-font-color: #1A0B5B;
    --secondary-font-color: #0D0E43;
    --third-font-color: #151875;
    --success: #08D15F;
    --white1: #fff;
    --white2: #F6F7FB;
    --gray1: #E7E6EF;
    --violet1: #7E33E0;
    --violet2: #EEEFFB;
    --gray-text-color: #8A8FB9;
    --black-color: #000;
    --teal1: #05E6B7;
    --pink1: #F701A8;
    --navy-blue1: #00009D;
    --blue2: #2F1AC4;
    --yellow1: #FFEAC1;

    --main-font: "Lato", sans-serif;
    --secondary-font: "Josefin Sans", sans-serif;
}
.btn{
    border: none;
    outline: none;
    color: var(--white1);
    border-radius: 2px;
    padding: 16px 40px;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary-color);
}
.btn-success{
    background-color: var(--success);
}
.color-btn{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 14px;
    height: 4px;
    flex-shrink: 0;
    cursor: pointer;
}
.color-one{
    background-color: var(--teal1);
}
.color-two{
    background-color: var(--pink1);
}
.color-three{
    background-color: var(--navy-blue1);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: calc( 100% - 320px);
    margin: auto;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.gap-1{
    gap: 0.25rem;
}
.gap-2{
    gap: 0.5rem;
}
.gap-3{
    gap: 1rem;
}
.gap-4{
    gap: 1.5rem;
}
.gap-5{
    gap: 3rem;
}
.text-center{
    text-align: center;
}
@media screen and (max-width: 1250px){
    .container{
        width: calc( 100% - 200px);
    }
}
@media screen and (max-width: 1100px){
    .container{
        width: calc( 100% - 100px);
    }
}
@media screen and (max-width: 950px){
    .container{
        width: calc( 100% - 50px);
    }
}