body{
    font-family: var(--main-font);
    color: var(--main-font-color);
}
body a{
    color: var(--main-font-color);
}
/* main list begin */
.main-list{
    background-color: var(--violet1);
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 15px;
    padding: 10px 0;
}
.main-list a{
    color: var(--white-color);
}
.main-list .contact ul, .main-list .about ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.main-list .contact ul .list-item, .main-list .about ul .list-item{
}
@media screen and (max-width: 768px){
    .main-list{
        display: none;
    }
}
/* main list end */

/* header begin */
.header{
    padding: 20px 0;
}
.header .logo a{
    color: var(--secondary-font-color);
    font-family: var(--secondary-font);
    font-size: 34px;
    font-weight: 700;
}
.header .list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
}
.header .list a{
    color: var(--main-font-color);
}
.header .list .active{
    color: var(--primary-color);
}
.header .list .list-item .active{
    color: var(--primary-color);
    fill: var(--primary-color);
}
.header .list .list-item a{
    display: flex;
    flex-wrap: wrap;
    fill: var(--main-font-color);
}
.header .search form{
    border: 1px solid var(--gray1);
    border-radius: 3px;
}
.header .search input{
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}
.header .search button{
    padding: 5px 10px 3px;
}
.header .search svg{
    fill: var(--white-color);
    font-size: 20px;
}
.header .bars{
    display: none;
}
@media screen and (max-width: 950px){
    .header .list, .header .search{
        display: none;
    }
    .header .bars{
        display: block;
    }
}
.header .bars svg{
    fill: var(--main-font-color);
}
/* header end */

/* main start */
/* latest blog start */
.latest-blog{
    font-family: var(--secondary-font);
}
.latest-blog .row{
    gap: 45px;
    justify-content: space-around;
}
.latest-blog .img{
    width: 100%;
}
.latest-blog .blogs .blog{
    width: 370px;
    padding: 40px 0;
}
.latest-blog .blogs .blog .img{
    border-radius: 15px;
}
.latest-blog .blogs .blog .blog-details img{
    width: 11px;
    height: 11px;
}
.latest-blog .blogs .blog .blog-details .author, .latest-blog .blogs .blog .blog-details .date{
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.latest-blog .blogs .blog .blog-content h3{
    font-size: 18px;
}
.latest-blog .blogs .blog .blog-content p, .latest-blog .blogs .blog .blog-content a{
    font-size: 16px;
    font-family: var(--main-font);
}
.latest-blog .blogs .blog .blog-content p{
    color: var(--gray-text-color);
}
.latest-blog .blogs .blog .blog-content a{
    text-decoration: underline;
}
.latest-blog .active h3, .latest-blog .active a{
    color: var(--primary-color);
}
@media screen and (max-width: 840px){
    .latest-blog .row{
        gap: 20px;
        flex-direction: column;
    }
    .latest-blog .blogs .blog{
        padding: 25px 0;
    }
}
@media screen and (max-width: 424px){
    .latest-blog .blogs .blog{
        width: 100%;
    }
}
/* latest blog end */
/* main end */

/* footer begin */
.footer{
    background-color: var(--violet2);
    padding: 100px 0;
}
.footer h2, .footer address, .footer a{
    color: var(--gray-text-color);
}
.footer .logo a{
    color: var(--secondary-font-color);
    font-family: var(--secondary-font);
    font-size: 34px;
    font-weight: 700;
}
.footer .start-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 45px;
    padding-right: 30px;
}
.footer .start-footer h2, .footer .start-footer address{
    font-size: 16px;
    padding-bottom: 25px;
}
.footer .start-footer .sign-up form{
    display: flex;
    border: 1px solid var(--gray1);
    border-radius: 3px;
    font-size: 16px;
}
.footer .start-footer .sign-up input{
    border: none;
    outline: none;
    width: 270px;
    padding-left: 10px;
}
.footer .start-footer .sign-up button{
    padding: 10px 30px;
    color: var(--gray1);
}
.footer .end-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 100px;
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: 600;
    /*justify-content: space-between !important;*/
}
.footer .end-footer .footer-item h2{
    font-size: 19px;
    padding: 30px 0;
    color: var(--secondary-font-color);
}
.footer .end-footer .footer-item .nav-footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer .end-footer .footer-item .nav-footer-item a{
    font-size: 16px;
    padding: 15px 0;
}
@media screen and (max-width: 1500px){
    .footer .end-footer{
        gap: 50px;
        font-size: 18px;
    }
    .footer .end-footer .footer-item .nav-footer-item a,.footer .start-footer h2, .footer .start-footer address{
        font-size: 14px;
    }
}
@media screen and (max-width: 1400px){
    .footer .start-footer .sign-up input{
        width: 250px;
    }
    .footer .end-footer{
        gap: 20px;
    }
}
@media screen and (max-width: 1000px){
    .footer .row{
        flex-direction: column;
    }
    .footer .start-footer{
        padding-bottom: 50px;
    }
    .footer .end-footer{
        width: 100%;
        justify-content: space-around;
    }
}
@media screen and (max-width: 600px){
    .footer .end-footer{
        justify-content: center;
        text-align: center;
    }
    .footer .end-footer .footer-item{
        width: 100%;
    }
    .footer .row{
        justify-content: center;
    }
}
@media screen and (max-width: 450px){
    .footer .start-footer{
        padding : 0;
    }
    .footer .start-footer .sign-up input{
        width: 220px;
    }
}
@media screen and (max-width: 379px){
    .footer .start-footer .sign-up button{
        padding: 10px 20px;
    }
}
/* footer end */